   <!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"></div>
                    </div>
                    <img class="img-fluid" src="~/image/143633898_263974398706950_2468700449998958713_n.jpg" alt="" />
                    <p>Responsible for controller</p>
                </div>
            </div>
            <!-- Portfolio Item 5-->
            <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"></div>
                    </div>
                    <img class="img-fluid" src="~/image/141698848_2791639744392256_4648743514133538985_n.jpg" alt="" />
                    <p> Responsible for design and hardware </p>
                </div>
            </div>
            <!-- Portfolio Item 6-->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"></div>
                    </div>
                    <img class="img-fluid" src="~/image/143595679_446487943218587_1072788629202335219_n.jpg" alt="" />
                    <p> Responsible for design and hardware </p>
                    <address>

                        <strong>Gmail:</strong> <a href="mailto:Marketing@example.com">m.ayman615@gmail.com</a>
                    </address>
                </div>
            </div>
            <!-- Portfolio Item 7-->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"></div>
                    </div>
                    <img class="img-fluid" src="~/image/144234766_864646997706659_3969571159800095969_n.jpg" alt="" />
                </div>
                <p> Responsible for web design </p>
                <address>

                    <strong>Gmail:</strong> <a href="mailto:Marketing@example.com">lolaahmed117.1998@gmail.com</a>
                </address>
            </div>
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"></div>
                    </div>
                    <img class="img-fluid" src="~/image/144234766_864646997706659_3969571159800095969_n.jpg" alt="" />
                </div>
                <p>Responsible for designing ANN</p>
                <address>

                    <strong>Gmail:</strong> <a href="mailto:Marketing@example.com">samarabdelhaq2018@gmail.com</a>
                </address>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"></div>
                    </div>
                    <img class="img-fluid" src="~/image/144234766_864646997706659_3969571159800095969_n.jpg" alt="" />
                </div>
                <p>Responsible for designing the game</p>
                <address>

                    <strong>Gmail:</strong> <a href="mailto:Marketing@example.com">rehabhesham98@gmail.com</a>
                </address>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"></div>
                    </div>
                    <img class="img-fluid" src="~/image/144234766_864646997706659_3969571159800095969_n.jpg" alt="" />
                    <p>Responsible for controller</p>
                    <address>

                        <strong>Gmail:</strong> <a href="mailto:Marketing@example.com">asmaasaed225@gmail.com</a>
                    </address>
                </div>
            </div>

        </div>
    </div>
</section>