@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
      
        <abbr title="Phone">Phone:</abbr>
       01152799904
    </address>

    <address>
        <strong>Facebook:</strong>   <a href="mailto:Support@example.com">aml.a2015@yahoo.com</a><br />
        <strong>Gmail:</strong> <a href="mailto:Marketing@example.com">lolaahmed117.1998@gmail.com</a>
    </address>
</div>